.wishlist-section .wishlist-card {
    justify-content: center;
    text-align: center;
    padding: 80px 0;
    
}

.wishlist-section .wishlist-card-text
{
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 10px;
}
.wishlist-section .wishlist-card-text span{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.wishlist-section .wishlist-para
{
    color: #95989F;
    font-family: 'Montserrat', sans-serif;
}

.wishlist-section .wishlist-card .wishlist-empty-icon img
{
    height: 105px;
    width: 90px;
    margin: 20px 0;
}