.cart-section .cart-card {
    justify-content: center;
    text-align: center;
    padding: 80px 0;
    
}

.cart-section .cart-card-text
{
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 10px;
}
.cart-section .cart-card-text span{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.cart-section .cart-para
{
    color: #95989F;
    font-family: 'Montserrat', sans-serif;
}

.cart-section .cart-card .cart-empty-icon img
{
    height: 105px;
    width: 90px;
    margin: 20px 0;
}
.card-header{
    display: flex;
    height: 41px;
    align-items: center;
    background-color: #1e2737;
}
.card-heading{
    border: none;
    padding: 12px;
    font-size: 13px;
    font-weight: 500;
    color: white;
}
.card-after-header{
    border: none;
}
.card-body-after-header{
    border: none;
    padding: 12px!important;
    padding: 30px 0!important;
    font-size: 14px;
    background: #fff;
    border-bottom: 4px solid #f8f9fd;
    vertical-align: middle;
}
.product-name{
    font-size: 14px;
    color: #212529;
    margin-bottom: 0px!important;
}
.product-description{
    display: block;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
}
.plus-minus-btn{
    display: flex;
    justify-content: center;
    width: 20px;
    border:1px solid #99b19c ;
}
.input-counter{
    display: flex;
    align-items: center;
}
.card-image{
    display: flex;
    /* width: 160px; */
    /* justify-content: center; */
}
.card-image img{
    width: 100%!important;
    /* justify-content: center; */
}
.every-product-price{
    display: flex;
    align-items: center;
}
.product-delete{
    font-size: 20px;
    display: flex;
    align-items: center;
}
.delete-icon{
    color: #dc3545;
}
.checkout-card{
    display: flex;
    justify-content: center;
    background: #1e2737;
    padding: 4px 75px;
    color: #fff;
}
.list-style{
    display: flex;
    justify-content: space-between;
    list-style-type: none!important;
    font-size: 20px;
    font-weight: 500;
    color: #a7afbe;
    padding: 6px 0px;
}
.product-checkout-price{
    margin: 0px!important;
    padding: 15px 25px
}
.checkout-button-div{
    display: flex;
    justify-content: center;
}
.checkout-button{
    border: none;
    width: 100%;
    padding: 4px 75px;
    background: #1e2737;
    font-size: 20px;
    font-weight: 600px;
    color: #fff;
}