/* .sidebar-filter{
    padding: 16px;

} */
.sidebar-category-filter {
    padding: 16px;
    border-bottom: 1px solid #f0f0f0;
}

.sidebar-filter-heading {
    padding: 10px 0px;
    border-bottom: 1px solid #f0f0f0;
}

.category-main-div {
    font-size: 15px;
    font-weight: 500;
    color: #212121;
}

.filter-category {
    padding: 5px 0 5px 5px;
}

.filter-category-name {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    color: #878787;
    font-size: 14px;
}

.accordion-items {
    border: none !important;
}

.accordion-buttons {
    display: flex;
    padding-left: 0px !important;
}

.accordion-buttons:focus {
    box-shadow: none;
}

.accordion-buttons:not(.collapsed) {
    background-color: #fff !important;
}
.accordion-buttons:not(.collapsed)::after{
    background-size: 15px!important;
}
.accordion-buttons::after{
    background-size: 15px!important;
}
.accordion-bodies {
    padding: 0px !important;
}
.sidebar-category{
    position: sticky;
    top: 80px;
    left: 0;
    height: 100vh;
}
/* -----------responsive deepak----------- */
@media only screen and (max-width : 1399px){
  
}
@media only screen and (max-width : 1299px) {

}

@media only screen and (max-width :991px) {
   .sidebar-category{
    padding-left: 8px!important;
   }
   .filter-checkbox{
    width: 120px;
   }
}
@media only screen and (max-width : 767px) {
.filter-top-heading{
    font-size: 18px;
}
.category-main-div {
    font-size: 14px;
}
.filter-category-name {
    font-size: 12px;
}
}
@media only screen and (max-width : 575.98px) {

}

@media only screen and (max-width : 480px) {
 
}
@media only screen and (max-width : 430px)
   { 
    .filter-category-name {
        width: 90px;
    }
 
  }

@media only screen and (max-width : 320px) {

}
/* -----------responsive deepak----------- */





