/* .top-brand-container{
    background-color: #fafafa;
} */
.logo-wrap {
    padding: 60px 65px;
    /* box-shadow: -21.213px 21.213px 30px 0px rgba(157, 157, 157, 0.2); */
}
.single-image{
    position: relative;
    min-height: 1px;
    padding-right: 50px;
    padding-left: 50px;
    width: 60%!important;
}
.brands-image{
    display:flex!important;
    justify-content: center!important;

}