.product-card-area
{
    
    padding: 40px 0;
    background-color: #fafafa;
}
.product-single-card
{
    border: 1px solid #d9dde1;
     transition: all 0.3s ease 0s;
    margin-bottom: 25px;
    background-color: #fff;

}
.product-single-card:hover{
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.product-single-card .product-pic
{
   position: relative;
}
.product-single-card .product-pic img{
     width: 100%;
     height: 250px;
     object-fit: cover;
}
.product-single-card .product-content
{
    padding: 8px 10px 10px 10px;

}
.product-name
{
    
    color: #142129;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
}
.product-price
{
  
    
    background: none;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    background-color: #cc0034;
    padding: 2px 14px 2px 4px;
    outline: none;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
    letter-spacing: .2px;
    text-transform: uppercase;
    border-radius: 0px;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 85% 0, 93% 100%, 0% 100%);
}

.discount-price
{
    color: #7a7a7a;
    font-size: 13px;
    margin-left: 7px;
}
.discount-price svg  path
{
  fill:#212121; 
} 
.product-desc{
    font-size: 14px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-content-lower
{
    position: absolute;
    bottom: 10px;
    left:0;
    right: 0;
}
.product-content-lower ul 
{
   list-style-type: none;
   padding-left: 0;
   display: flex;
   justify-content: space-between;
   margin-bottom: 5px;
   width: 100%;
   padding: 0 12px;
}

.product-content-lower ul li span{
    background-color:#fff;
    border-radius: 50%;
    color: #cc0034;
    display: inline-block;
    height: 30px;
    margin: 0 6px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
   

}
.product-content-lower ul li span svg
{
    height: 15px;
    width: 15px;
}
.product-content-lower ul li span svg path{
  fill:#212121;
}
/* .product-content-lower ul li span:hover{
    background-color:#1e2737;
}
.product-content-lower ul li span:hover svg path{
  fill:#fff;
} */
.add-to-cart-box
{
    margin-top: 8px;
    text-align: center;
    display: flex;
    align-items: center;
}
.add-to-cart-box p{
    margin-bottom: 0;
}
.add-to-cart
{
    background: none;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
   
    background-color:#cc0034;
    padding: 8px 20px;
    outline: none;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: .2px;
    text-transform: uppercase;
    border-radius: 3px;
}
.add-to-cart:hover
{
   color: #fff;
}