header{
    background-color: #1e2737;
    position: sticky;
    top:0;
    z-index: 100;
}
.main-logo
{
    width: 80px;
}
.all-sports-toggler
{
    display: flex;
    margin-right: 50px;
    color: #a7afbe;
    cursor: pointer;
}
.all-sports-toggler:hover{
    color: #fff;
}
.all-sports-toggler svg 
{
    height: 45px;
    width: 45px;
}


.all-sports-toggler span{
  
    text-shadow: 0 0 10px #fff6, 1px 2px #1e2737;
    color: #a7afbe;
    white-space: nowrap;
    text-overflow: ellipsis;
  
}
.header-wrapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left
{
    display:flex;
}
.header-search-feild
{
    position: relative;
    width: 400px;
    background-color: #fff;
    padding: 3px 3px;
    border-radius: 4px;
    overflow: hidden;
}
.header-search-feild input{
    border-radius: 0;
    width: 100%;
    border: 0;
}

.header-search-feild .search-btn
{
    position:absolute;
    right: 0;
    top:0;
    height: 100%;
    border: 0;
    background-color: #f7f8f9;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-search-feild .search-btn svg path{
    fill:#4f505f;
}
.header-search-feild .search-btn svg
{
    height: 23px;
    width: 23px;
}
.header-right-link
{
   
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-shadow: 0 0 10px #fff6, 1px 2px #1e2737;
    color: #a7afbe;
}
.header-right-link span
{
    margin-bottom: 3px;
}
.header-right-link span svg{
    height: 20px;
    width: 20px;
    margin-right: 3px;
}
.header-right-link:hover{
    color: #fff;
}
.header-right-link:focus{
    color: hsl(0, 0%, 100%);
}


/* sandeeep css login modal */

.login-section {
    display: flex;
    justify-content: space-around!important;
    flex-direction: row!important;
    padding-left: 10px;

}
.registration-section {
    width: 750px; /* Width */
    height: 470px; /* Height */
    border-radius: 0px!important;
}

.form-fields {
    margin-bottom: 10px;
    padding: 3px 9px;
}
 .left-login-modal {
    display: flex;
    justify-content: center;
    background: #eff1f3!important;
    color: #f7f8f9;
    margin-left: -4px!important;
    margin-bottom: -4px;
}
.login-left-first{
    --tw-text-opacity: 1;
    color: rgba(179,186,195,var(--tw-text-opacity));
    font-size: 1.25rem;
    letter-spacing: 4px;
    font-weight: 600;
}
.login-left-mid{
    --tw-text-opacity: 1;
    color: rgba(52,68,80,var(--tw-text-opacity));
    font-size: 1.8rem;
    width: 280px;
}
.login-left-second{
    --tw-text-opacity: 1;
    color: rgba(0,125,188,var(--tw-text-opacity));
    font-size: 1.8rem;
}
.inside-modal-body{
    min-height: 400px;
}
.modal-header-top{
    border-bottom: 0px!important;
}
.modal-dialog{
max-width: fit-content!important;
}
.login-btn{
    border: 0px;
}


/* ------------------------mega menu css--------------- */
.mega-menu
{
    position: absolute;
    
    left: 0;
    height: calc( 100vh - 77.3px);
    background-color: #f4f4f4;
    transition: .2s ease;
    top: 77.3px;
      width: 0%;
     
    visibility: hidden;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    width: 0%;

}
.mega-menu.visible
{
    
    width: 100%;
    
}

.close-box
{
   text-align: right;
   padding-right: 50px;
   padding-top: 20px;
   display: flex;
   justify-content: flex-end;
}
.close-box span{
    height: 30px;
    width: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
     cursor: pointer;
    border-radius: 50%;
    background-color: #fff;
    color:#212121;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);

}
.mega-menu-tab-heading
{
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #dedede;
}
.mega-menu-tab-heading.nav-pills .nav-link
{
    font-family: 'Roboto', sans-serif;
    color: #4e5d6b;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
     top:2px;
     position: relative;
     padding-left: 0;
}
.mega-menu-tab-heading.nav-pills .nav-link.active, .mega-menu-tab-heading.nav-pills .show>.nav-link
{
    background-color: transparent;
}
.mega-menu-tab-heading.nav-pills .nav-link.active
{
    background-color: transparent;
    color: #cc0034;
    font-weight: 700;
    border-bottom: 3px solid #cc0034;
    border-radius: 0;
}
.mega-menu-sub-heading
{
    font-family: 'Roboto';
    font-weight: 700;
    color: #4e5d6b;
}
.mega-menu-sub-heading-list
{
    padding-left: 0;
    list-style-type: none;
}
.mega-menu-sub-heading-list li
{
    color: #4e5d6b;
    font-weight: 400;
    margin-bottom: 2px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}
.nav-pills .nav-link{
    --tw-text-opacity: 1;
    color: rgba(52,68,80,var(--tw-text-opacity));
    font-weight: 500;
}
.nav-pills .nav-link.active{
    background-color: #fff!important;
    color: #0d6efd!important;
    font-weight: 500;
    border-bottom: 2px solid #0d6efd;
    border-radius: 0px;
}
.login-signup-btn{
    display: flex;
    justify-content: center;
}
/* ---------------after-login-dropdown------------ */
.after-login-dropdown .header-right-link
{
    flex-direction:row;
}
.after-login-dropdown .header-right-link::after
{
    display: none;
}
.after-login-dropdown .header-right-link svg.one{
    height: 21px;
    width: 21px;
}
.after-login-dropdown  .dropdown-menu[data-bs-popper]
{
    left:-90px
}
.after-login-dropdown .dropdown-menu 
{
    background-color: #fafafa;
    border-radius: 0;
    padding: 10px;
    right: 17px;
}
.after-login-dropdown .dropdown-menu li a
{
    color: #4e5d6b;
    font-weight: 400;
    margin-bottom: 2px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}
.cart-top-items{
    position: relative;
    color: #a7afbe;
    font-size: 12px;
    left: 22px;
    bottom: 7px;
}