@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');


body {
   


}
.f1 {
    font-family: 'Montserrat', sans-serif;
}

.f2 {
    font-family: 'Roboto', sans-serif;
}
.form-control:focus
{
    box-shadow: none;
}
.common-btn
{
    position: relative;
    padding: 13px 74px 13px 24px;
    z-index: 1;
    overflow: hidden;
    border: 1px solid #008acc;
    display: inline-block;
    padding: 13px 35px;
     color: #212121!important;
    background-color:#008acc;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-transform: uppercase;
    margin-top: 40px;
    font-weight: 600;
}
.common-btn span{
    margin-right: 10px!important;
}
.common-btn::after
{
    position: absolute;
    content: "";
    right: -26px;
    top: 8px;
    width: 55%;
    height: 129%;
    background-color:#f7f8f9;
    z-index: -1;
    transform: rotate(121deg);
}