.page-not-found-page
{
    background: #fff;
}
.page-not-found-page .error-image
{
    height: 300px;
    width: 100%;
    object-fit: contain;
}
.page-not-found-page .error-1
{
    color: #1B2E35;
    font-size: 30px;
    font-weight: 600;
}
.page-not-found-page .error-message
{
    font-size: 16px;
}
.page-not-found-page .error-home-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-not-found-page .error-home-btn button
{
  width: 30%;
  background-color: #1e2737;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 22px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
.page-not-found-page .error-home-btn button a
{
    color: #fff;
    text-decoration: none;
}

/* styles for mobile devices */
@media (max-width:815px)
{
  .page-not-found-page .error-image {
    height: 240px;
  }
  .page-not-found-page .error-message {
    font-size: 14px;
  } 
  .page-not-found-page .error-1 {
    font-size: 25px;
  }
  .page-not-found-page .error-home-btn button {
    width: 30%;
    padding: 7px 5px;
    font-size: 14px;
}
}
@media (max-width:575px){
  .page-not-found-page .error-image {
    height: 200px;
  }
  .page-not-found-page .error-message {
    font-size: 12px;
  } 
  .page-not-found-page .error-1 {
    font-size: 20px;
  }
  .page-not-found-page .error-home-btn button {
    font-size: 12px;
}
}
@media only screen and (max-width: 600px) {
    .page-not-found-page {
      padding: 10px;
    }
  
    .error-image {
      width: 100%;
      height: auto;
    }
  
    .error-1 {
      font-size: 24px;
    }
  
    .error-message {
      font-size: 16px;
    }
    .error-home-btn {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
    
      .error-home-btn button {
        padding: 10px 20px;
        font-size: 16px;
      }
    }
